.wrapped-aside {
  padding: 20px;
}
h2 {
  color: var(--Platform-Aliases-Shape-principal, #202024);
  font-size: 24px;
  font-weight: 700;
  line-height: 160%; /* 38.4px */

  margin-bottom: 32px;
}
.section {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}
.section > img {
  width: 100%;
  max-width: 151px;
  max-height: 84px;
}
.text > h3 {
  color: var(--Platform-Aliases-Shape-principal, #202024);
  font-size: 18px;
  font-weight: 700;
  line-height: 160%; /* 28.8px */
}
.text > p {
  color: var(--Platform-Aliases-Background, #121214);
  font-size: 14px;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
}
