@import url(header.css);
@import url(main.css);
@import url(aside.css);
@import url(footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /*Fontes mais agradáveis*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: Mulish;
}
:root {
  font-size: 62.5%; /*10px padrão*/

  --Brand-Colors-Explorer-dark: #065e7c;
  --Platform-Aliases-Shape-principal: #202024;
}
