@import url(header.css);
@import url(main.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /*Fontes mais agradáveis*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: Mulish;
}
