@import url(header.css);
@import url(main.css);
@import url(aside.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /*Fontes mais agradáveis*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: Mulish;
}
:root {
  --Brand-Colors-Explorer-dark: #065e7c;
  --Platform-Aliases-Shape-principal: #202024;
}

footer {
  width: 100%;
  max-height: 64px;
  padding: 16px;
  background: #387e96;
}
footer > p {
  color: #fff;
  text-align: center;
}
