main > img {
  width: 100%;
}
.wrapped-main {
  padding: 20px;
}
.secction > h1 {
  margin: 10px 0 8px;
  color: var(--Platform-Aliases-Shape-principal);
  font-size: 2.4rem;
  font-weight: 700;
}
.wrapped-main img {
  background: var(--Brand-Colors-Explorer-dark);

  padding: 12px;
  border-radius: 50%;

  margin-bottom: 30px;
}
#dislike {
  transform: rotate(180deg);
}
.text > p {
  color: var(--Platform-Aliases-Background, #121214);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.text p:nth-child(1) {
  margin-bottom: 26px;
}

@media (min-width: 1024px) {
  main > img {
    max-width: 803px;
    max-height: 405px;
    width: 100%;
  }

  .text > p {
    max-width: 800px;
  }

  .secction {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 32px;
  }
  .wrapped-main img {
    margin: 0;
  }
}
